{% extends 'administrador/index.html.twig' %}

{% block title %}{{parent()}} - Borrar Perfil{% endblock %}

{% block body %}

{{parent()}}

<div class="container h-100 " style="margin-top:60px">
    <div class="row h-100-justify-content-center align-items-center ">
        <div class="col-6 bg-white rounded my-3 p-5">
            <h3>¿Está seguro de eliminar su perfil? Si continúa, se perderá toda la información vinculada a su cuenta (Empresas, Comercios...) y se cerrará su sesión</h3>
            <div style="border: 7px ridge SlateBlue;">
            {{form(formulario)}}
            </div>
            <div style="margin-top:10px">
                <button type="button" class="btn btn-default" onclick="location.href='{{path('administrador')}}'">Cancelar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
