{% extends 'administrador/index.html.twig' %}

{% block title %}{{parent()}} - Buscar Usuario{% endblock %}

{% block body %}

{{parent()}}
<div class="panel panel-default">
    <div class="panel-heading"  style="background-color:DarkSlateBlue; border:DarkSlateBlue;">
        <div class="container h-100 " style="margin-top:40px">
        <h1 style="color:white"><center>Buscar un Usuario<center></h1>
        <body onload="buscar();">
        <div class="form-row">
            <div id="campo_email" class="form-group col-md-6" style="color:white">
                <label>Email </label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email del usuario a buscar" >
            </div>

            <div id="campo_telefono" class="form-group col-md-6" style="color:white">
                <label>Teléfono </label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono del usuario a buscar" >
            </div>
        </div>

        <div class="form-row">
            <div id="campo_nombre" class="form-group col-md-6" style="color:white">
                <label>Nombre </label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del usuario a buscar" >
            </div>

            <div id="campo_validez" class="form-group col-md-6" style="color:white">
                <label>Validez </label>
                <input type="text" class="form-control" id="validez" name="validez" placeholder="Validez del usuario a buscar" >
            </div>
        </div>

        <div class="form-row">
            <div id="campo_apellidos" class="form-group col-md-6" style="color:white">
                <label>Apellidos </label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos del usuario a buscar" >
            </div>
        </div>

        <div class="form-row">
            <div id="boton_buscar" class="form-group col-md-7">
                <button type="button" class="btn btn-primary" onclick="buscar();" style="background-color:SlateBlue; border:SlateBlue;">Buscar</button>
            </div>
        </div>

        </div>
    </div>
</div>

{# Contenedor en el que se actualizan los resultados de la búsqueda #}
<div id="usuariosEncontrados">
</div>

<script>
    function buscar(){
        email = $("#email").val();
        nombre = $("#nombre").val();
        apellidos = $("#apellidos").val();
        telefono = $("#telefono").val();
        validez = $("#validez").val();
        $("#usuariosEncontrados").empty();
        $.ajax
        ({
            type: "POST",
            cache: true,
            dataType: 'html',
            url: "{{path('buscarUsuario')}}", 
            data: {email: email, nombre: nombre, apellidos: apellidos, telefono: telefono, validez: validez},
            success: function(html)
            {
                // Mostrar el resultado de la búsqueda
                if(html !== ""){
                    $("#usuariosEncontrados").empty();
                    $("#usuariosEncontrados").html(html);
                }
            }
        });
    }
</script>

{% endblock %}

{% block content %}
{% endblock %}