{% extends 'base.html.twig' %}

{% block title %}Registrar un comercio - Guia Comercial{% endblock %}

{% block body %}
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    {{form(formulario)}}
{% endblock %}
